/* Phone */
@media only screen and (max-width: 739px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps__box {
        margin-top: 10px;
    }

    .steps__box:last-child {
        margin-top: 10px;
    }

    .steps__work-step {
        margin-bottom: 40px;
    }

    .steps__work-step:last-of-type {
        margin-bottom: 60px;
    }

    .steps__app-screen {
        width: 50%;
    }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

    .city-feature {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }


    .main-nav {
        display: none;
    }

    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav {
        margin-top: 10px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }

    .sticky .mobile-nav-icon {
        margin-top: 10px;
    }

    .sticky .mobile-nav-icon i {
        color: #555;
    }



    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .app-screen {
        width: 40%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .works-step {
        margin-bottom: 20px;
    }

    .works-step:last-of-type {
        margin-bottom: 20px;
    }

}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    h2 {
        font-size: 160%;
    }

    h3 {
        font-size: 100%;
    }

    a {
        font-size: 80%;
    }

    .icon-small {
        font-size: 80%;
    }

    .row {
        padding: 0 2%;
    }

    .header__text-box {
        width: 100%;
        padding: 0 4%;
    }

    .box p {
        font-size: 80%;
    }

    .section-steps {
        height: fit-content;
    }

    .steps__work-step p {
        font-size: 76%;
    }

    .steps__box:first-child {
        font-size: 40%;
    }

    .steps__app-screen {
        width: 80%;
    }

    .city-feature span {
        font-size: 78%;
    }

    .section-testimonial {
        height: fit-content;
    }


    .plan-price {
        font-size: 255%;
    }

    .plan-price-meal {
        font-size: 78%;
        white-space: nowrap;
    }

    .plan-box li {
        font-size: 70%;
    }

}

/* Big tablet to PC: form 1023px to 1200px */
@media only screen and (min-width: 1024px) {}